# ignore generated content
_site/

# ignore os or editor files/folders
.DS_Store
Thumbs.db
.idea/
*.iml

# Ignore Gemfile.lock as recommended by Github Pages documentation
Gemfile.lock

# ignore local Bundler installs
.bundle/
vendor/
